* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VanillaCaramel";
}

.root{
    ---azul: #AED6F1;
    ---verde: #98D9A9;
    ---amarelo: #FFCA2E;
    ---laranja: #F4A226;
}

.header {
    background: #FFFDF6;
}


.container-flex {
    text-align: center;
}

.logo {
    width: 200px;
    margin: 0 auto;
}


.Icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    top: 25px;
    right: 40px;
}

.Menu {
    background: linear-gradient(to right, #e8ddf9, #dff0f3);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0;
}

.Menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;

}

.sobre {
    background: #f1f9ff;
    padding: 70px 40px;
    text-align: center;
}

.sobre h2 {
    color: #f2a13b;
    margin-bottom: 20px;
    font-family: "SuperMalibu";
}

.sobre p {
    max-width: 600px;
    margin: auto;
    color: #f2a13b;
    font-family: "VanillaCaramel" ;
}

.Favs {
    padding: 50px 20px;
    text-align: center;
}

.Favs h3 {
    background: #ADD6F1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 70px;
    color: #359BDE;
    margin-bottom: 10px;
    text-align: center;
    font-family: "VanillaCaramel";
}

.cards {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.cards img {
    width: 200px;
    border-radius: 20px;
}


.footer {
    background: #fff3d8;
    padding: 20px 20px;
    text-align: center;
}

.header2 {
    background: var(#98D9A9);
    padding: 15px;
    display: flex;
    justify-content: center;
}

