* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VanillaCaramel";

}

.root {
    ---azul: #AED6F1;
    ---verde: #98D9A9;
    ---amarelo: #FFCA2E;
    ---laranja: #F4A226;
}

.header {
    background: #000000;
}


.container-flex {
    text-align: center;
}

.logo {
    width: 250px;
    margin: 0 auto;
}


.Icons {
    display: flex;
    gap: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 90px;
}

.Menu {
    background: linear-gradient(to right, #e8ddf9, #dff0f3);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0;
}

.Menu2 {
    background: #000;
    padding: 18px;
    text-align: center;
}

.Menu a {
    text-decoration: none;
    color: #000;
    font-weight: 510;

}

.Sobre {
    background: #f1f9ff;
    padding: 80px 40px;
    text-align: center;
}

.Sobre h2 {
    color: #f2a13b;
    margin-bottom: 40px;
    font-family: "SuperMalibu";
}

.Sobre p {
    max-width: 800px;
    margin: auto;
    color: #f2a13b;
    font-family: "VanillaCaramel";
    font-size: 30px;
}

.Favs {
    padding: 50px 30px;
    text-align: center;
}

.Favs h3 {
    background: #ADD6F1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 70px;
    color: #359BDE;
    margin-bottom: 40px;
    text-align: center;
    font-family: "VanillaCaramel";
}

.cards {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.cards img {
    width: 310px;
    border-radius: 20px;
}

.header2 {
    background: var(#98D9A9);
    padding: 15px;
    display: flex;
    justify-content: center;
}

/*  */

.footer {
    background: #fff3d8;
    padding: 20px 20px;
    text-align: center;
}

.footer {
    background: #FFF8E3;
    text-align: center;
    display: flex;
    padding: 100px 10%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 90px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.Contato h2 {
    background: #ADD6F1;
    color: #359BDE;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 36px;
    font-family: "VanillaCaramel";
    display: inline-block;
    margin-bottom: 40px;
}

.endereco {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    padding: 20px 40px;
    border-radius: 25px;
    font-size: 29px;
    font-family: "VanillaCaramel";
}

.banner {
    background-size: cover;
}

.banner img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #F2FAFF;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}


/* -------------------- Responsividade --------------- */

#sombra {
    background-color: #9D562390;
    backdrop-filter: blur(10px);
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: -101vw;
    transition: .5s;
}

#menu_botao {
    display: block;
    z-index: 1;
}

nav.menu {
    /* height: 100vh; */
    width: 200px;
    padding: 0px 30px;

    flex-direction: column;
    justify-content: space-around;
    gap: 15px;

    position: fixed;
    top: 165px;
    right: -210px;
    z-index: 1;
    transition: .5s;
}