•⁠  ⁠{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --branco: #fff;
    --azul: #AED6F1;
    --verde: #98D9A9;
    --amarelo: #FFCA2E ;
    --laranja: #F4A226;
}

body {
    background-color: #F2FAFF;
}

header {
    width: 100%;
    background-color: #FFFDF6;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 225px;
    background-color: #FFFDF6;
}

.container-flex {
    width: 100%;               
    max-width: none;
    margin: 0 auto;
    display: flex;             
    align-items: center;
    justify-content: flex-start;
    padding-right: 0 40px;
}

#logo{
    width: 300px;
    align-items: center;
    
}

.menu-container {
    text-align: center;  
    margin-top: 20px;
}

.links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.links a{
    font-size: 20px;
    color: black;
    text-decoration: none;
   margin-top: 220px;
}

.links a:hover{
    color: #F4A226;
    border-bottom: 1px solid #98D9A9;
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
     margin-bottom: 200px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 250px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    padding-right: 50px;
}

.sobre-texto{
    width: 45%;
    font-size: 30px;
    margin-top: 1000px;
}

.barra-de-pesquisa {
   display: flex;
   border: 2pgit add x solid var(--verde);
   border-radius: 25px;
   overflow: hidden;
   height: 40px;
   

}