* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VanillaCaramel";

}

.root{
    ---azul: #AED6F1;
    ---verde: #98D9A9;
    ---amarelo: #FFCA2E;
    ---laranja: #F4A226;
}

.header {
    background: #000000;
}


.container-flex {
    text-align: center;
}

.logo {
    width: 200px;
    margin: 0 auto;
}


.Icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    top: 25px;
    right: 40px;
}

.Menu {
    background: linear-gradient(to right, #e8ddf9, #dff0f3);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px 0;
}

.Menu2{
    background: #000;
    padding: 10px;
    text-align: center;
}

.Menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;

}

.Sobre {
    background: #f1f9ff;
    padding: 70px 40px;
    text-align: center;
}

.Sobre h2 {
    color: #f2a13b;
    margin-bottom: 20px;
    font-family: "SuperMalibu";
}

.Sobre p {
    max-width: 600px;
    margin: auto;
    color: #f2a13b;
    font-family: "VanillaCaramel" ;
}

.Favs {
    padding: 50px 20px;
    text-align: center;
}

.Favs h3 {
    background: #ADD6F1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 70px;
    color: #359BDE;
    margin-bottom: 10px;
    text-align: center;
    font-family: "VanillaCaramel";
}

.cards {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.cards img {
    width: 200px;
    border-radius: 20px;
}

.header2 {
    background: var(#98D9A9);
    padding: 15px;
    display: flex;
    justify-content: center;
}

/*  */

.footer {
    background: #fff3d8;
    padding: 20px 20px;
    text-align: center;
}



.footer {
    background: #FFF8E3;
    padding: 40px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contato h2 {
    background: #000;
    color: #fff;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 36px;
    font-family: "Rosaline", serif;
    display: inline-block;
    margin-bottom: 40px;
}


.iconss img {
    width: 70px;
}

.endereco {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    padding: 12px 26px;
    border-radius: 20px;
    font-size: 24px;
    font-family: "Rosaline", serif;
}

.iconss-local {
    font-size: 26px;
}
.Contato h2 {
    background: #ADD6F1;
    color: #359BDE;
    padding: 12px 40px;
    border-radius: 30px;
    font-size: 36px;
    font-family: "VanillaCaramel";
    display: inline-block;
    margin-bottom: 40px;
}


.iconss img {
    width: 70px;
}

.endereco {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    padding: 12px 26px;
    border-radius: 20px;
    font-size: 24px;
    font-family: "VanillaCaramel";
}

.iconss-local {
    font-size: 26px;
}

.banner{
    background-size: cover;
}

/* -------------------- Responsividade --------------- */

#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

   