* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --amarelo: #ffca2e;
    --laranja: #f5a325;
    --azul: #aed6f1;
    --verde: #98d9a9;
}

body{
    background-color: #f2faff;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #FFFDF6;
    height: 250px; }